name: Lint
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install poetry
        id: poetry
        run: pipx install poetry~=2.2.1
      - name: Inject poetry-dynamic-versioning
        id: poetry-dynamic-versioning
        run: pipx inject poetry "poetry-dynamic-versioning[plugin]~=1.9.1"
      - name: Setup python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'
      - name: Install project
        id: install
        run: poetry install
      - name: mypy
        id: mypy
        run: poetry run mypy .
      - name: black
        id: black
        run: poetry run black --check .
      - name: build
        id: build
        run: poetry build
      - name: test
        id: test
        run: poetry run pytest --cov=splitlog tests/
